<div class="container">
<ul>
<li class="btn btn-outline-success and-all-other-classes"><a routerLink="/home">Home</a></li>
<li class="btn btn-outline-success and-all-other-classes"><a routerLink="/aboutus">About us</a></li>
<li class="btn btn-outline-success and-all-other-classes"><a routerLink="/contactus">Contact Us </a></li>
<li class="btn btn-outline-success and-all-other-classes"><a routerLink="/compamyprofile">Company Profile</a></li>
<li class="btn btn-outline-success and-all-other-classes"><a routerLink="/login">Login</a></li>
<li class="btn btn-outline-success and-all-other-classes"><a routerLink="/regustration">Registration</a></li>
<li class="btn btn-outline-success and-all-other-classes"><a routerLink="/myprofile">My profile</a></li>
<li class="btn btn-outline-success and-all-other-classes"><a routerLink="/commontext">Common Text</a></li>
</ul>
<div>
<router-outlet></router-outlet>